:root {
    --primary-color: #1D9E75;
    --accent-color: #5DCAA5;
    --background-color: #0E1A1F;
    --text-color: #E0F2EC;
    --text-color-secondary: #808080;
    --card-color: #0F2D2B;
    --font-outfit: 'Outfit';
    --font-jakarta: 'Jakarta Sans';
    --font-cormorant: 'Cormorant Garamond';
}
.text-color {
    color: var(--text-color);
}
.text-color-secondary {
    color: #808080;
}
.bg-color {
    background-color: var(--background-color);
}
.card_color {
    background-color: var(--card-color);
}
.accent-color {
    color: var(--accent-color);
}
.primary-color {
    color: var(--primary-color);
}
.outfit {
    font-family: 'Outfit', sans-serif;
}
.jakarta {
    font-family: 'Jakarta', sans-serif;
}
.cormorant {
    font-family: 'Cormorant Garamond', serif;
}

.container-info-jasa {
    width: 1380px;
    margin: 40px auto;
    padding: 0;
}
.kembali img {
    margin-top: 2px;
}
.info {
    width: 1050px;
}
.button-pesan {
    width: 300px;
}
.jasa {
    border-radius: 15px;
    border: 1px solid rgba(29, 158, 117, 0.1);
    padding: 24px 0px 24px 0px;
}
.jasa h1 {
    font-size: 36px;
    font-weight: 500;
    padding: 0px 24px;
}
.jasa hr {
    background-color: var(--primary-color);
    height: 1px;
    border: none;
}
.container-info-jasa h2 {
    font-size: 28px;
}
.rating-detail p {
    color: #eea026;
    font-size: 14px;
    padding: 0px 24px;
}
.deadline-detail p {
    font-size: 14px;
    
}
.talenta {
    border-radius: 15px;
    border: 1px solid rgba(29, 158, 117, 0.1);
}
.talenta img {
    margin-top: 2px;
}
#button-talenta {
    width: 37%;
    background-color: rgba(29, 158, 117, 0.2);
    border: 1px solid rgba(29, 158, 117, 0.1);
}
.ulasan {
    border-radius: 15px;
    border: 1px solid rgba(29, 158, 117, 0.1);
}
.rating-ulasan p {
    color: #eea026;
    font-size: 14px;
    padding: 0px 24px;
}
.ulasan-profil hr {
    background-color: var(--primary-color);
    height: 1px;
    border: none;
}
.button-pesan {
    border-radius: 15px;
    border: 1px solid rgba(29, 158, 117, 0.1);
    height: fit-content;
    position: sticky;
    top: 30px;
}
.button-pesan button {
    background-color: var(--primary-color);
    border: 1px solid rgba(29, 158, 117, 0.1);
    width: 100%;
    font-weight: 500;
}
.button-pesan button:active,
.button-pesan button:hover,
.button-pesan button:focus {
    background-color: var(--primary-color) !important;
    outline: none !important;
    color: var(--text-color) !important;
}