:root {
    --primary-color: #1D9E75;
    --accent-color: #5DCAA5;
    --backgrounc-color: #0E1A1F;
    --text-color: #E0F2EC;
    --card-color: #0F2D2B;
}
* {
    box-sizing: border-box;
}

.nav-body {
    background-color: var(--card-color);
    color: var(--text-color);
    height: 80px;
    width: auto;
}
.navbar {
    margin: auto;
    width: 1300px;
    height: 80px;
    align-items: center;
    position: relative;
}
.nav-logo {
    width: auto;
    height: 60px;
}
#nav-link {
    display: flex;
    gap: 80px;
    position: absolute;
}
#nav-link a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 18px;
}
.masuk a {
    color: var(--text-color);
    text-decoration: none;
    margin-right: 20px;
    font-size: 16px;
}
.masuk button {
    background-color: #0f2d2b;
    border-color: var(--text-color);
    color: var(--text-color);
    border-radius: 6px;
    font-family: "Outfit", sans-serif;
    padding: 4px 20px;
}