:root {
    --primary-color: #1D9E75;
    --accent-color: #5DCAA5;
    --background-color: #0E1A1F;
    --text-color: #E0F2EC;
    --card-color: #0F2D2B;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

.hero {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    background-repeat: no-repeat;
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-image: url('/images/background.png');
}