    :root {
        --primary-color: #1D9E75;
        --accent-color: #5DCAA5;
        --highlight-color: #EF9F27;
        --card-color: #0F2D2B;
        --background-color: #0E1A1F;
        --text-color: #e0f2ec;
        --border-color : 2px solid #264D44;
    }
    ::-webkit-scrollbar {
        display: none;
    }
    body {
        background-color: var(--background-color);
        font-family: "Plus Jakarta Sans", sans-serif;
    }
    .kontener {
    width: calc(100% - 300px); 
    margin-left: 280px;       
    margin-right: 20px;
    padding: 40px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    }
    .card-siswa {
        background-color: var(--card-color);
        border-radius: 17px;
        padding: 35px;
        border: var(--border-color);
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }
    .card-siswa h2 {
        color: var(--text-color);
        font-family: "Cormorant Garamond", serif;
        font-size: 32px;
        font-weight: bold;
        margin: 0;
    }
    .card-siswa p {
        color: var(--text-color);
        font-family: "Plus Jakarta Sans", sans-serif;
        font-size: 14px;
        margin: 0;
    }
    .siswa-title {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 30px;  
        position: relative;

    }
    .siswa-title i {
        color: var(--text-color);
        font-size: 20px;
    }
    .siswa-title h4 {
        color: var(--text-color);
        font-family: "Outfit", sans-serif;
        font-size: 18px;
        font-weight: bold;
        margin: 0;
    }

    .card-siswa-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
    }

    .card-item-siswa {
        background-color: var(--background-color);
        border-radius: 14px;
        border: var(--border-color);
        padding: 20px 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 250px;
        gap: 12px;
    }

    .foto-siswa {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: var(--text-color);
    }

    .nama-siswa {
        color: var(--text-color) ;
        font-size: 14px;
        font-family: "Plus Jakarta Sans", sans-serif;
        margin: 0 ;
    }

    .btn-lihat {
        background-color: transparent;
        border: var(--border-color) ;
        color: rgba(255, 255, 255, 0.60) ;
        padding: 8px 18px ;
        margin-top: 0 ;
        width: 100% ;
        border-radius: 10px;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-size: 13px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        transition: 0.2s;
    }

    .btn-lihat:hover {
        background-color: var(--primary-color) ;
        color: white ;
    }