:root {
    --background-color: #0E1A1F;
    --card-color: #0F2D2B;
    --primary-color: #1D9E75;
    --accent-color: #5DCAA5;
    --highlight-color: #EF9F27;
    --text-color: #E0F2EC;

    --body-font: "Plus Jakarta Sans", sans-serif;
    --secondary-font: "Outfit", sans-serif;
    --accent-font: "Cormorant Garamond", serif;
}

.back-home-button{
    color: var(--text-color);
    font-family: var(--body-font);
    text-decoration: none;
}
.form-heading{
    color: var(--text-color);
    font-family: var(--body-font);
    font-weight: 700;
}
.form-deskripsi{
    color: var(--text-color);
    font-family: var(--secondary-font);
    opacity:0.8;
}
.input-box{
    background-color: rgba(217, 217, 217, 0.2);
    border-radius: 15px;
    border: 1px solid rgba(29, 158, 117, 0.5);
    padding: 10px 20px;
}
.footer-submit-penambahan{
    background-color: var(--card-color);
    padding: 30px 10px;
}
.submit-penambahan-talenta{
    background-color: var(--primary-color);
    border-radius: 20px;
    color: var(--text-color);
    border: none;
    padding: 15px 50px;
    font-size: 1.5rem;
    font-family: var(--body-font);
    font-weight: 700;
}
