:root{
    --primary-color: #1D9E75;
    --accent-color: #5DCAA5;
    --highlight-color: #EF9F27;
    --card-color: #0F2D2B;
    --background-color: #0E1A1F;
    --text-color: #e0f2ec;
    --border-color : 2px solid #264D44;
}
.main-content {
    width: calc(100% - 300px);
    margin-left: 280px;
    margin-right: 20px;
    padding: 40px 20px 20px 20px;
    box-sizing: border-box;
}

.lencana-header h1 {
    color: var(--text-color);
    font-family: "Cormorant Garamond", serif;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.lencana-card {
    background-color: rgba(29, 158, 117, 0.35);
    border-radius: 17px;
    padding: 35px;
    border: var(--border-color);
    width: 100%;
    box-sizing: border-box;
}

.profile-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-group.full-width {
    grid-column: 1 / -1;
}

.form-group label {
    font-size: 13px;
    color: var(--text-color);
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.required {
    color: var(--highlight-color);
}

.form-input {
    background-color: rgba(217, 217, 217, 0.55);
    border: var(--border-color);
    border-radius: 8px;
    padding: 10px 14px;
    color: var(--text-color);
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 14px;
    outline: none;
    transition: border-color 0.2s ease, background-color 0.2s ease;
    width: 100%;
    box-sizing: border-box;
}

.form-input::placeholder {
    color: rgba(54, 54, 54, 0.712);
}

.form-input:focus {
    border-color: var(--border-color);
    background-color: rgba(93, 202, 165, 0.28);
}

.form-textarea {
    height: 120px;
    resize: vertical;
    min-height: 80px;
}

.form-actions {
    margin-top: 4px;
}

.btn-simpan {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background-color:rgba(45, 45, 45, 0.404) ;
    border: var(--border-color);
    border-radius: 8px;
    padding: 10px 20px;
    color: var(--text-color);
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.btn-simpan:hover {
    background-color: var(--accent-color);
    color: #0F2D2B;
}


